/* Styling for Modal */

:root{

    /* Duration for fade-in animation */
    --modal-duration: 1s;

}

.modal{

   /*  display: none;  /* Initially hidden  */ 
    position: fixed; 
    z-index: 1; /* On top of other elements */
    left: 0; 
    top: 0; /* Start at top-left corner */
    height: 100%; 
    width: 100%;/* Take entire height & width */
    overflow: auto;
    background: rgba(0, 0, 0, 0.5); /* opacity = 0.5 */

}

.modal-content{

    background: #fff;
    text-align: center;
    margin: 10% auto; /* 10% margin from top & move to middle */
    width: 350px;
    border-radius: 10px; /* Rounded corners */
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
                0 7px 20px 0 rgba(0,0,0,0.17);

    animation-name: modalopen; /* Fade-in animation */
    animation-duration: var(--modal-duration);
    
}

.modal-content h1{

    margin-bottom: 1rem;

}

.modal-content p {

    font-size: 1.2rem;
    margin-top: 1rem;

}

/* Style for Fade-In Animation */
@keyframes modalopen {

    from{
        
        opacity: 0; /* Starts from 0 opacity */
        
    }

    to{

        opacity: 1; /* Ends with opacity 1 */

    }

}