/* Load Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Variables with CSS Custom Properties */
:root {

    /* Root Scope */
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545; /* Color when lost */
    --win-color: #28a745; /* Color when won */
    --modal-duration: 1s;  /* Amount of time modal takes to open */

}


/* Simple Reset */

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* CSS reset explanation:

    This considered a "CSS reset" or "CSS normalization." 
    
    It aims to remove default padding, margin, and box-sizing inconsistencies 
    across browsers. Here's a breakdown of each rule:

    * (Universal Selector): 
    Applies the rules to all elements.

    box-sizing: border-box;: 
    Ensures padding and borders are included within the element's 
    specified width and height, making layout calculations more 
    predictable.

    padding: 0; and margin: 0;: 
    Removes any default padding and margin applied 
    by the browser, preventing unwanted spacing.

*/

body{
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
}


